<p>
  <label for="source_name">Name:</label>
  <%= f.text_field :name %>
  <span class='note'>This is the name of this resource</span>
</p>
<p>
  <label for="source_iri">Path (IRI)</label>
  <%= f.text_field :iri %>  
  <span class='note'>like http://example.com/exampleOntology#</span>  
</p>
