<div class='form-content'>
<h2>Add a new resource</h2>

<%= error_messages_for :source %>

<% form_for(:source, :url => user_sources_path(current_user)) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>

  </div>

  <%= link_button 'Show dashboard', :url => user_pipes_url(current_user) %>
  <%= submit_tag "Add Resource" %>  
  <% button_to 'Add Resource', :id => 'create_pipe',  :url => user_pipes_url(current_user)%>
  <% end %>

