<div class='node' id="node_construct">
  <div class='content'>
    <p>CONSTRUCT</p>
    <%= text_field_tag 'first' , nil, :size => 5 %>
    <%= text_field_tag 'condition' , nil, :size => 5 %>
      
     <%= text_field_tag 'second' , nil, :size => 5 %>
  </div>
</div>

