<div class='node' id="node_condition">
  <div class='content'>
    <p>WHERE</p>
    <%= text_field_tag 'first' , nil, :size => 5 %>
    <%= text_field_tag 'verb' , nil, :size => 5 %>

    <%= text_field_tag 'second' , nil, :size => 5 %>
  </div>
</div>
