<div class='node' id="node_condition">
  <div class='content'>
    <p>WHERE</p>
    <%= text_field_tag 'first' , nil, :size => 5 %>
    <select style='width:60px'>
      <option>http://ex.org/parentOf</option>
      <option>http://ex.org/motherOf</option>
      <option>http://ex.org/fatherOf</option>            
    </select>      
    <%= text_field_tag 'second' , nil, :size => 5 %>
  </div>
</div>
