<div class='node' id="node_filter">
  <div class='content'>
    <p>FILTER</p>
     <select style='width:60px'>
        <option>!BOUND</option>
        <option>REGEX</option>
        <option>A Comparision</option>            
      </select>      
      <%= text_field_tag 'second' , nil, :size => 10 %>
      <img src='/images/add_row.png' />
      <img src='/images/remove_row.png' />      
  </div>
</div>
