<div class='node' id="node_join">
  <div class='content'>
    <p>JOIN</p>
    <select style='width:60px'>
      <option>1</option>
      <option>2</option>
      <option>3</option>            
      <option>4</option>                  
    </select> Nodes
  </div>
</div>
