<div class='node' id="node_union">
  <div class='content'>
    <p>UNION</p>        <input type='checkbox'> optional
    
    <%= text_field_tag 'first' , nil, :size => 17 %>

    <%= text_field_tag 'first' , nil, :size => 17 %>



  </div>
</div>
