a.button,
a.button:visited  {
    background: url('/images/button/a.png') no-repeat scroll right 0;
    color: #fff;
    display: block;
    float: left;
    height: 27px;
    padding-right: 19px; 
     text-decoration: none;
	font: bold 11px "Lucida Grande", Lucida, Verdana, sans-serif;
	margin-right: 6px;
	text-decoration: none;
}

a.button span {
    background: transparent url('../images/button/span.png') no-repeat scroll left 0;
    display: block;
    line-height: 14px;
    padding: 5px 0 6px 20px;
	height: 16px;
}

/* My Comment */

a.button:hover {
    background-position: right -57px;
    color: #f5f5f5;
    outline: none; /* hide dotted outline in Firefox */
}

a.button:hover span {
    background-position: left -57px;
    padding: 6px 0 4px 20px; /* push text down 1px */
}

a.button:active {
    background-position: right -28px;
    color: #f5f5f5;
    outline: none; /* hide dotted outline in Firefox */
}

a.button:active span {
    background-position: left -28px;
    padding: 6px 0 4px 20px; /* push text down 1px */
}
