<div id="dummy_sheet" class="sheet">
	<div class="sheet_header message">
		<h5>Sorry. This feature is not implemented yet!</h5>
	</div>
	<div class="sheet_footer login-form">
		<p class="btns" style="float:right;">
			<a class="button" href="#" onclick="ok_sheet.hide(); return false;"><span>Mmmkay!</span></a>
		</p>
	</div>			
</div>