<div id="runner_sheet" class="sheet">
	<div class="sheet_header message">
		<h5>Sending pipe to Sesame.</h5>
	</div>

	<div class="login-form status-message" style="height: 50px">
	  <p>
	    Please wait…
	  </p>
	</div>
	
	<div class="sheet_footer login-form">
		<p class="btns" style="float:right;">
			<a class="button" style='visibility: hidden;' id='query-button' href="#"><span>Show query</span></a>		  		  
			<a class="button" style='visibility: hidden;' id='visit-button' href="#"><span>Show results</span></a>		  
			<a class="button" href="#" onclick="runner_sheet.hide(); return false;"><span>Cancel!</span></a>
		</p>
	</div>			
</div>