<p>
  <label for="pipe_title">Title:</label>
  <%= f.text_field :title %>
  <span class='note'>This is the name of your pipe like <strong>"All of my friends"</strong></span>
</p>
<p>
  <label for="pipe_short_description">What does it do?</label>
  <%= f.text_field :short_description %>  
  <span class='note'>A short description: <strong>"Finding all of friends on the same working group"</strong></span>  
</p>
<%= f.hidden_field :root%>