= link_button "Create new pipe", :id => "create_pipe", :url => new_user_pipe_path(current_user)

%br
  
- unless @pipes.blank?
  %p  
    - @pipes.each do |pipe| 
      = link_to h(pipe.title), user_pipe_path(current_user, pipe.id)
      from:
      %span.note
        = h pipe.user_id 
      %br
-else
  %p 
    You did not create a pipe yet. 
    = link_to "Do you want to do this now?", new_user_pipe_path(current_user)
    
      
=#fsd javascript_include_tag :defaults 
