%h1 About

%p
  %strong graphpipes
  is a project by Thomas Winkler for a thesis
  %em -Studienarbeit-
  at University of Koblenz-Landau (Institute for Computer Science / Research Group Staab). The Thesis was overseen by 
  = link_to "Simon Schenk", "http://www.uni-koblenz.de/~sschenk/"
  
  
  
  
  