%h1 Imprint / Impressum

%p
  %strong graphpipes
  is written and maintained by Thomas Winkler as a project at university in 2008. The Sourcecode will be soon released under MIT-Licence.
  
%p
  If you experience any technical issues feel free to send an 
  = link_to 'email', 'maito:tomfarm@gmail.com'
  To get the source you need git.
  git clone git://gitorious.org/graphpipes/mainline.git