%h1 We are sorry! Internet Explorer won't do.

%p
  If you want to visit graphpipes.de you must use a browser that follows
  the webstandards.
  %br
  %br
  You can use
  = link_to 'Safari', 'http://www.apple.com/safari'  
  or
  = link_to 'Firefox', 'http://www.firefox.com'
  
%p
  If you experience any technical issues feel free to send an 
  = link_to 'email', 'maito:tomfarm@gmail.com'
 