<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">

<html>
	<head>
		<title>graphpipes</title>	
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<% stylesheet_link_tag 'site' %>
		<% javascript_include_tag :all %>
	</head>
	
	<body>
		<div id="container">
      <img src="images/demo_header.png" width="778" height="119" alt="graphpipes. ladies and gentleman, the semantic web.">
		</div>
	</body>
</html>